@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
}
a{
	color: white;
	text-decoration: none;	
}

.hatter {
	background-image: url("hatter6.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo{
	width: 122px;
	height: 92px;
}
.logohely{
	position: absolute;
	top: 1.5%;
	left: 1%;
}
.kijelentkezhely{
	position: absolute;
	top: 2.5%;
	right: 1%;
}
.kijelentkezgomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
	
}
.kijelentkezgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.fejlec{
	position: absolute;
	top: 1%;
	font-size: 35px;
	text-shadow: 3px 3px black;
}
.vizszkozepre{ 
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.vicc{
	position: absolute;
	top:15%;
	right:0.8%;
	background-color: rgba(0, 0, 0, 0.5);
}