@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
}
a{
	color: white;
	text-decoration: none;	
}

.hatter {
	background-image: url("hatter5.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.vizszkozepre{ 
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.fejlec{
	position: absolute;
	top: 1%;
	font-size: 35px;
	text-shadow: 3px 3px black;
}
.logo{
	width: 122px;
	height: 92px;
}
.logohely{
	position: absolute;
	top: 1.5%;
	left: 1%;
}
.visszahely{
	position: absolute;
	top: 2.5%;
	right: 1%;
}
.visszagomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
}
.visszagomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}

.kozepre{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	padding: 0px;
	margin: 0px ;
	border: 2px dashed #fff;
	border-radius: 5%;
	background-color: rgba(15, 15, 20, 0.4);
}
h1{
	font-size: 34px;
	margin: 20px 50px 40px;
	padding: 20px 80px 30px;
	border-bottom: 1px solid #fff;
	text-shadow: 3px 3px black;
}
p{
	margin: 20px 50px 40px;
}
.label{
	position: relative;
	left: 2%;
	margin: 0px 0px 0px 39px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 3px 3px black;
}
.input1{
	position: relative;
	right: 2%;
	margin: 0px 0px 10px 127px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(20,20,20,0.5);
	color: white;
}
.input2{ 
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 109px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(20,20,20,0.5);
	color: white;
}
.input3{ 
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 19px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(20,20,20,0.5);
	color: white;
}
.input4{
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 26px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(20,20,20,0.5);
	color: white;
}
.input5{
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 83px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(20,20,20,0.5);
	color: white;
}
.input6{
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 95px;
	height: 20px;
	font-size: 14px; 	
	color: white;
}
.input7{
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 42px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(20,20,20,0.5);
	color: white;
}
.katkiir{
	position: relative;
	left: 10%;
	right: 10%;
}
.kategolabel{
	position: relative;
	left: 2%;
	margin: 0px 0px 0px 20px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 3px 3px black;
}
.kategoria{
	position: relative;
	left: 2%;
	
}

.submit-gomb{
	position: relative;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 2px dotted #fff;
	border-radius: 35%;
	margin: 70px 0px 20px;
	height: 50px;
	width: 180px;
	background-color: rgba(200,200,200,0.5);
	font-size: 22px;
}
.submit-gomb:hover{
	filter: invert(100%);
	transition-duration: 1s;
	background-color: rgba(200,200,200,0.7);
}
.error{
	position: absolute;
	top: 20%;
	left: 10%;
	width: 20%;
	box-sizing: border-box;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
}
.dropdown-content {
    display: none;
    position: absolute;
  	font-size: 20px;
	font-family: Arial;
	padding: 0px 40px;
	border-radius: 100px;
}
.dropdown-content a {
   font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);	
	border-radius: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}