@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
*{
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
}
a{
	color: white;
	text-decoration: none;	
}
.hatter {
	background-image: url("hatter8.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.vizszkozepre{ 
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.fejlec{
	position: absolute;
	top: 1%;
	font-size: 35px;
	text-shadow: 3px 3px black;
}
.logo{
	width: 122px;
	height: 92px;
}
.logohely{
	position: absolute;
	top: 1.5%;
	left: 1%;
}
.bejelentkezhely{
	position: absolute;
	top: 2.5%;
	right: 1%;
}
.bejelentkezgomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
	
}
.bejelentkezgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.addhely{
	position: absolute;
	bottom: 2.5%;
	right: 2.5%;
}
.addgomb{
	font-size: 35px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 20px;
	border-radius: 100px;
	
}
.addgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.cim{
	top: 15%;
	font-size: 40px;
	font-weight: bold;
}
.tabla{
	text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:100px;
}
section#wrapper{
	width: 1000px;
	margin: 100px auto 0px auto;
}
h1{
	margin: 170px auto 70px auto;
	font-size: 50px;
	color: #eee;
	text-align: center;
	text-shadow: 10px 10px 20px rgba(255,255,255,0.8);
}
div.box{
	width: 110px;
	height: 110px;
	float: left;
	background-color: #fff;
	margin: 40px 20px 0 20px;
	border: 5px solid #000;
	border-radius: 100px;
	overflow: hidden;
	box-shadow: 10px 10px 20px rgba(255,255,255,0.5);
}
div.box:hover{
	box-shadow: 10px 10px 20px rgba(255,255,255,0.9);
	transition-duration: 500ms;
}
div.box img{
	border-radius: 100px;
}
div.box div{
	width: 110px;
	height: 75px;
	background-color: #000;
	text-align: center;
	border-radius: 50px;
	padding: 45px 0 0 0;
	font-weight:bold;
}
div.effect1{
	position:relative;
	background-color: #fff;
}
div.effect1 img{
	position:absolute;
	top: 0;
	left: 0;
	transition: margin-left 800ms;
}
div.effect1:hover img{
	margin-left: 200px;
}
div.effect1 div{
	background-color: #fff;
	color: #000;
	font-weight:bold;
	opacity: 0;
	transition: opacity 800ms;
}
div.effect1:hover div{
	opacity: 1;
}
div.effect2{
	position:relative;
}
div.effect2 div{
	position:absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	margin-left: -200px;
	transition: margin-left 500ms;
}
div.effect2:hover div{
	margin-left: 0;
}
div.effect3{
	position:relative;
}
div.effect3 div{
	position:absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	transition: opacity 500ms;
}
div.effect3 div:hover{
	opacity: 0.8;
}
div.effect4{
	position:relative;
	background-color: #fff;
}
div.effect4 img{
	position:absolute;
	bottom: 0;
	left: 0;
	transition: margin-bottom 800ms;
}
div.effect4:hover img{
	margin-bottom: 200px;
}
div.effect4 div{
	background-color: #fff;
	color: #000;
	font-weight:bold;
	opacity: 0;
	transition: opacity 800ms;
}
div.effect4:hover div{
	opacity: 1;
}
div.effect5{
	position:relative;
}
div.effect5 img{
	position:absolute;
	top: 0;
	left: 0;
}
div.effect5 div{
	opacity: 0.8;
	transform: scale(0);
	transition-duration: 500ms;
	-webkit-transform: scale(0);
}
div.effect5:hover div{
	transform: scale(1);
	transition-duration: 500ms;;
	-webkit-transform: scale(1);
}
div.effect6{
	position:relative;
	background-color: #fff;
}
div.effect6 img{
	position:absolute;
	top: 0;
	right: 0;
	transition: margin-right 800ms;
}
div.effect6:hover img{
	margin-right: 200px;
}
div.effect6 div{
	background-color: #fff;
	color: #000;
	font-weight:bold;
	opacity: 0;
	transition: opacity 800ms;
}
div.effect6:hover div{
	opacity: 1;
}
.osszes{
	padding: 30px;
	margin: 70px;
	font-size: 32px; 
	border: 2px solid #fff;
	border-radius: 20%;
	background-color: rgba(20,20,20,0.5);
	color: white;
	margin-left:auto; 
    margin-right:auto; 
    width:300px;
	overflow: hidden;
	box-shadow: 10px 10px 20px rgba(255,255,255,0.5);
}
.osszes:hover{
	filter: invert(100%);
	transition-duration: 500ms;
	background-color: rgba(0,0,0,0.9);
	box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
}

.kilepes{
	position: fixed;
	bottom: 2.5%;
	left: 2.5%;
}
.kilepesgomb{
	font-size: 10px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 20px;
	border-radius: 100px;
	
}
.kilepesgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.dropdown-content {
    display: none;
    position: absolute;
  	font-size: 20px;
	font-family: Arial;
	padding: 0px 40px;
	border-radius: 100px;
}
.dropdown-content a {
   font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);	
	border-radius: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.error{
	position: absolute;
	top: 20%;
	left: 10%;

	box-sizing:content-box;
      border:10px solid rgba(101, 73, 48, 0.3);
      padding:10px;
      width: 15%;
	background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px 30px 10px 30px;
}