﻿@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
*{
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {

	margin: 0;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
}
a{
	color: white;
	text-decoration: none;	
}
.hatter {
	background-image: url("hatter4.jpg"); 
	background-repeat: repeat;
	background-position: fixed;
	background-size: cover;
}
.vizszkozepre{ 
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.fejlec{
	position: absolute;
	top: 1%;
	font-size: 35px;
	text-shadow: 3px 3px black;
}
.logo{
	width: 122px;
	height: 92px;
}
.logohely{
	position: absolute;
	top: 1.5%;
	left: 1%;
}
.bejelentkezhely{
	position: absolute;
	top: 2.5%;
	right: 1%;
}
.bejelentkezgomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
	
}
.bejelentkezgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.addhely{
	position: fixed;
	bottom: 2.5%;
	right: 2.5%;
}
.addgomb{
	font-size: 35px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 20px;
	border-radius: 100px;
	
}
.addgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.cim{
	top: 15%;
	font-size: 40px;
	font-weight: bold;
}
section#wrapper{
	width: 1000px;
	margin: 100px auto 0px auto;
}
h1{
	margin: 170px auto 70px auto;
	font-size: 50px;
	color: #eee;
	text-align: center;
	text-shadow: 10px 10px 20px rgba(255,255,255,0.8);
}


.hatter-list {
	background-image: url("source/hatter_list.jpg"); 
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.clearfix {
    clear:both;
}

main {
	position: absolute;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
	top: 20%;
	left: 10%;
    padding:10px;
    box-sizing: border-box;
	
}
article {
    border-bottom: 1px solid grey;
    padding:5px;
	font-size: 15px;
}
article:last-child {
    border: none;
}
article h2 {
    margin: 10px 0 0 0;
}
article .post-content {
    padding: 10px;
    text-align: justify;
}
article:hover{
	background-color: rgba(255, 255, 255, 0.2);
	transition-duration: 500ms;
}
.kilepes{
	position: fixed;
	bottom: 2.5%;
	left: 2.5%;
}
.kilepesgomb{
	font-size: 10px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 20px;
	border-radius: 100px;
	
}
.kilepesgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.dropdown-content {
    display: none;
    position: absolute;
  	font-size: 20px;
	font-family: Arial;
	padding: 0px 40px;
	border-radius: 100px;
}
.dropdown-content a {
   font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);	
	border-radius: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}