@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
}
a{
	color: white;
	text-decoration: none;	
}
.hatter {
	background-image: url("hatter2.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.videomeret{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
.szovegkozepre{
  text-align: center;
}
.vizszkozepre{ 
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.fullkozepre{ 
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.fejlec{
	position: absolute;
	top: 1%;
	font-size: 35px;
	text-shadow: 3px 3px black;
}
.lablec{
	font-family: Arial;
	font-size: 16px;
	bottom: 0;
}
.logo{
	width: 122px;
	height: 92px;
}
.logohely{
	position: absolute;
	top: 1.5%;
	left: 1%;
}
.bejelentkezhely{
	position: absolute;
	top: 2.5%;
	right: 1%;
}
.bejelentkezgomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
	
}
.bejelentkezgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
p{
	margin: 350px 0px 0px;
}
.kozepgomb{
	font-size: 15px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 50px 30px;
	padding: 13px;
	width: 120px;
	display: inline-block;
	border-radius: 40%;
	border: 0.1px solid #fff;
}
.kozepgomb:hover{
	filter: invert(100%);
	transition-duration: 1s;
}
.kilepes{
	position: fixed;
	bottom: 2.5%;
	left: 2.5%;
}
.kilepesgomb{
	font-size: 10px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 20px;
	border-radius: 100px;
	
}
.kilepesgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.dropdown-content {
    display: none;
    position: absolute;
  	font-size: 20px;
	font-family: Arial;
	padding: 0px 40px;
	border-radius: 100px;
}
.dropdown-content a {
   font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);	
	border-radius: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}