﻿@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
*{
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {

	margin: 0;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
}
a{
	color: white;
	text-decoration: none;	
}
.hatter {
	background-image: url("hatter4.jpg"); 
	background-repeat: repeat-y;
	background-position: top;
	background-size: cover;
}
.vizszkozepre{ 
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.fejlec{
	position: absolute;
	top: 1%;
	font-size: 35px;
	text-shadow: 3px 3px black;
}
.logo{
	width: 122px;
	height: 92px;
}
.logohely{
	position: absolute;
	top: 1.5%;
	left: 1%;
}
.bejelentkezhely{
	position: absolute;
	top: 2.5%;
	right: 1%;
}
.bejelentkezgomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
	
}
.bejelentkezgomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.cim{
	top: 15%;
	font-size: 40px;
	font-weight: bold;
}
section#wrapper{
	width: 1000px;
	margin: 100px auto 0px auto;
}
h1{
	margin: 170px auto 70px auto;
	font-size: 50px;
	color: #eee;
	text-align: center;
	text-shadow: 10px 10px 20px rgba(255,255,255,0.8);
}


.hatter-list {
	background-image: url("source/hatter_list.jpg"); 
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.clearfix {
    clear:both;
}
img{
	position: absolute;
	top: 20%;
	left: 15%;
	width: 35%;
	box-sizing: border-box;
}
article {
    padding:5px;
	font-size: 22px;
	
	position: absolute;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.8);
	top: 20%;
	left: 50%;
    box-sizing: border-box;
}
article:last-child {
    border: none;
}
article h2 {
    margin: 10px 0 0 0;
}
article .post-content {
    padding: 10px;
    text-align: justify;
}
article .post-other {
	padding: 10px;
    font-size: 12px;
    color: grey;
    font-style: italic;
}
.csillagok{
	position: relative;
	left: 60%;
	margin: 15px 0px 0px;

}
.visszahely{
	position: relative;
	left: 20%;
	margin: 50px 0px;
}
.visszagomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
}
.visszagomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.hozzaszolas{
	border-top: 3px solid #fff;
	margin: 20px 0px 0px;
	padding: 20px 10px;
	font-size: 24px;
	font-family: Arial;
}
.hozzaszolkeret{
	margin: 20px 0px 0px;
	padding: 10px 10px;
	font-size: 18px;
	font-family: Arial;
	border: 1px solid #fff;
	border-radius: 5%;
	background-color: rgba(0, 0, 0, 0.8);
}
.hozzaszolszoveg{
	margin: 10px 10px;
	padding: 20px 10px 10px;
	font-size: 15px;
	font-family: Arial;
	border-top: 2px dashed #fff;
	
}
.error{
	position: absolute;
	top: 20%;
	left: 42.5%;
	box-sizing: border-box;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
}
.icon-container {
	position: relative;
	display: inline-block;
    width: 48px;
}

.icon-container img {
    position: absolute;
    left: 0;
    bottom: 0;
}


#ajanlo-content {
	display: none;
    padding:5px;
	font-size: 22px;	
	position: absolute;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.8);
	top: 20%;
	left: 15%;
    box-sizing: border-box;
}

button {
	top: -5px;
	position: absolute;
	width: 24px;
	height: 24px;
	background: none;
}

button img {
	width: 18.6px;
}

.dropdown-content {
    display: none;
    position: absolute;
  	font-size: 20px;
	font-family: Arial;
	padding: 0px 40px;
	border-radius: 100px;
}
.dropdown-content a {
   font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);	
	border-radius: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}

.comment_submit {
	color: white;
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
}
.comment_submit:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}
.write_comment{
	color: white;
	margin: 20px 0px 0px;
	padding: 10px 10px;
	font-size: 18px;
	font-family: Arial;
	border: 1px solid #fff;
	border-radius: 5%;
	background-color: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	
		width: 100%;
}