@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
}
a{
	color: white;
	text-decoration: none;	
}

.hatter {
	background-image: url("hatter.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.vizszkozepre{ 
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}
.fejlec{
	position: absolute;
	top: 1%;
	font-size: 35px;
	text-shadow: 3px 3px black;
}
.logo{
	width: 122px;
	height: 92px;
}
.logohely{
	position: absolute;
	top: 1.5%;
	left: 1%;
}
.visszahely{
	position: absolute;
	top: 2.5%;
	right: 1%;
}
.visszagomb{
	font-size: 20px;
	font-family: Arial;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px 40px;
	border-radius: 100px;
}
.visszagomb:hover{
	background-color: rgba(0, 0, 0, 0.8);
	filter: invert(100%);
	transition-duration: 1s;
}

.kozepre{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	padding: 0px;
	margin: 0px ;
	border: 2px dashed #fff;
	border-radius: 5%;
	background-color: rgba(15, 15, 20, 0.4);
}
h1{
	font-size: 34px;
	margin: 20px 50px 40px;
	padding: 20px 80px 30px;
	border-bottom: 1px solid #fff;
	text-shadow: 3px 3px black;
}
.label{
	position: relative;
	left: 2%;
	margin: 0px 0px 0px 39px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 3px 3px black;
}
.input1{
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 21px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(250,200,20,0.5);
	color: white;
}
.input2{ 
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 63px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(250,200,20,0.5);
	color: white;
}
.input3{ 
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 106px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(250,200,20,0.5);
	color: white;
}
.input4{
	position: relative;
	right: 2%;
	margin: 0px 0px 0px 20px;
	height: 20px;
	font-size: 18px; 
	border: 2px dotted #fff;	
	background-color: rgba(250,200,20,0.5);
	color: white;
}
.submit-gomb{
	position: relative;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 2px dotted #fff;
	border-radius: 35%;
	margin: 80px 0px;
	height: 50px;
	width: 180px;
	background-color: rgba(200,200,200,0.5);
	font-size: 22px;
}
.submit-gomb:hover{
	filter: invert(100%);
	transition-duration: 1s;
	background-color: rgba(0,0,0,0.2);
}
p{
	position: absolute;
	left: 50%;
	bottom: 6%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size:14px;
	padding: 5px 100px 0px 100px;
	border-top: 1px dashed #fff;
}
.reg{
	position: absolute;
	left:50%;
	bottom:0%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size:20px;
}

.error{
	position: absolute;
	top: 20%;
	left: 10%;

	box-sizing:content-box;
      border:10px solid rgba(101, 73, 48, 0.3);
      padding:10px;
      width: 20%;
	background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px 30px 10px 30px;
}